.mainTable{
    border: 2px solid rgb(72, 94, 91);
    direction: rtl;
    margin: 50px auto;
}

.tableLink{
    text-decoration: none;
    color: black;
}

td{
    padding: 20px;
    border: 1px solid rgb(112, 171, 164);
}

.tableList{
    border: 1px solid rgb(139, 0, 154);
    background-color: #fbcfff;
    width: 30%;
    margin: 0 auto;
    font-size: 15px;
}

